# Firebase
GoogleService-Info.plist
GoogleService-Info-*.plist
Secrets.swift

# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# macOS junk
.DS_Store

# Logs
*.log
